app = "pieces-api"
primary_region = "cdg"

[build]
dockerfile = "apps/api/Dockerfile"

[env]
PORT = "3001"

[http_service]
internal_port = 3001
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1

[[vm]]
size = "shared-cpu-1x"
memory = "256mb"

[checks.health]
port = 3001
type = "http"
interval = "30s"
timeout = "5s"
grace_period = "10s"
method = "GET"
path = "/healthz"
